:root {
    --inter: 'Inter', sans-serif;
    --blk: #020202;
    --white: #fff;
    --menu-width: 520px;
    --left-border: 1px solid rgba(0, 0, 0, 0.1);
}

html,
body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    background-color: #f8f8f8;
    user-select: none;
}

* {
    font-family: 'Inter';
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2 , h3, h4, h5, h6, p {
    pointer-events: none;
    cursor: default;
    user-select: none;
}

a {
    text-decoration-line: none;
    cursor: pointer;
}

.page-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.right-side-menu {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    height: 100%;
    width: var(--menu-width);
    order: 2;
    border-left: var(--left-border);
    flex-shrink: 0;
    flex-grow: 0;
    position: fixed;
    z-index: 111;
    top: 0;
    right: 0;
}

.menu-container {
    display: flex;
    flex-direction: column;
    padding: 12px;
    height: 100%;
}

.top-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top-info-header-rh {
    padding: 6px 12px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.05);
}

.top-info-header {
    padding: 6px 12px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.05);
}

.top-info-header:hover {
    background-color: #000;
}

.top-info-header:hover h3{
    color: white;
}

.top-head-txt {
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    font-family: var(--inter);
}

.time-container {
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    font-family: var(--inter);
}

.info-text-div {
    margin-top: 32px;
    padding: 0 6px;
}

.info-text-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.5px;
    color: rgba(0, 0, 0, 0.8);
    font-family: var(--inter);
}

.projects-container {
    margin-top: 36px;
    padding: 0 6px;
}

.project-header {
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.5);
    font-family: var(--inter);
}

.projects-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    gap: 3px;
}

.project-rh { /* blank state * no hover */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6px 12px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.05);
    cursor: default;
    z-index: 112;
}

.project-rh:hover {
    background-color: rgba(0, 0, 0, 1);
}

.project-rh:hover h3 {
    color: white;
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6px 12px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
    z-index: 112;
}

.project:hover {
    background-color: rgba(0, 0, 0, 1);
}

.project:hover h3 {
    color: white;
}

.project-name {
    width: 100%;
    align-items: center;
    justify-content: start;
}

.project-name-text {
    font-family: var(--inter);
    font-weight: 400;
    font-size: 13px;
    position: relative;
    color: rgba(0, 0, 0, 0.8);
}

.project-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 100%;
}

.date {
    font-family: var(--inter);
    font-weight: 400;
    font-size: 13px;
    position: relative;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}

.type-container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}

.type {
    font-family: var(--inter);
    font-weight: 400;
    position: relative;
    text-align: left;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
}

.bottom-container {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    justify-content: space-between;
    align-items: center;
}

.available {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    border-radius: 200px;
    border: 1px solid rgba(21, 171, 97, 0.5);
    background-color: rgba(21, 171, 97, 0.1);
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 200px;
    background-color: rgba(21, 171, 97, 1);
}

.available-text {
    font-family: 'Inter';
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.5px;
    color: rgba(21, 171, 97, 1);
    line-height: 140%;
    margin: 0;
    padding: 0;
}

.right-elements {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.mail {
    padding: 3px 12px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.linkedin {
    padding: 3px 12px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.read-cv {
    padding: 3px 12px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.mail:hover {
    padding: 3px 16px;
    background-color: #000;
}

.mail:hover h3 {
    color: white;
}

.linkedin:hover {
    padding: 3px 16px;
    background-color: #000;
}

.linkedin:hover h3 {
    color: white;
}

.read-cv:hover {
    padding: 3px 16px;
    background-color: #000;
}

.read-cv:hover h3 {
    color: white;
}

.mail-text {
    font-family: 'Inter';
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.5px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 140%;
    margin: 0;
    padding: 0;
}

.linkedin-text {
    font-family: 'Inter';
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.5px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 140%;
    margin: 0;
    padding: 0;
}

.read-cv-text {
    font-family: 'Inter';
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.5px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 140%;
    margin: 0;
    padding: 0;
}

main {
    order: 1;
    width: 100%;
    height: 100%;
    display: block;
}

.video-container {
    width: 100%;
    border-radius: 6px;
    position: relative;
    pointer-events: none;
    overflow: hidden;
    height: 100%;
    z-index: 1;
    padding: 6px;
    box-sizing: border-box;
    background-color: #f8f8f8;
}

video {
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 6px;
    padding: 6px;
    margin: 0;
    display: block;
}

@media screen and (max-width: 780px) {

    body {
        overflow-y: auto;
    }

    .right-side-menu {
        width: 100vw;
        height: 100%;
    }

    .type {
        width: 100%;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .project-details {
        display: flex;
        flex-direction: row;
        justify-content: end;
        width: 100%;
    }

    .project-name-text {
        font-size: 11px;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .date {
        font-size: 13px;
    }

    .project {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px 12px;
    }

    .project-details {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
    }

    .project-name h3 {
        font-size: 13px;
    }

    .type {
        text-align: right;
        font-size: 13px;
    }
}