:root {
    --inter: 'Inter', sans-serif;
    --blk: #020202;
    --white: #fff;
    --menu-width: 300px;
    --left-border: 1px solid rgba(0, 0, 0, 0.1);
}

html, body {
    margin: 0;
    box-sizing: border-box;
    overflow: none;
}

body {
    background-color: #f8f8f8;
    font-family: 'Inter', sans-serif;
}

* {
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.page-wrapper {
    display: flex;
    flex-direction: row;
}

.right-side-menu {
    background-color: white;
    height: 100%;
    width: var(--menu-width);
    order: 1;
    border-right: var(--left-border);
    flex-shrink: 0;
    flex-grow: 0;
}

.menu-container {
    display: flex;
    flex-direction: column;
}

.top-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top-head-txt {
    font-size: 14px;
    font-weight: 400;
    font-family: var(--inter);
}

.timer {
    font-size: 14px;
    font-weight: 400;
    font-family: var(--inter);
}